WALLET_MNEMONIC="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24"
WALLET_VERSION=v4
WALLET_ID=698983191
SUBWALLET_NUMBER=0

AIJOB_CUSTOMER_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c
AIJOB_EXECUTOR_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c
AIJOB_PLATFORM_ARBITER_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c
AIJOB_FEE_WALLET_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c

AIJOB_REWARD_TON=5
AIJOB_FEE_TON=0.15

AIJOB_FUNDING_DEADLINE=1900000000
AIJOB_DELIVERY_DEADLINE=1900086400
AIJOB_REVIEW_DEADLINE=1900172800
